@import "variables";
@import "mixins/placeholder";
@import "mixins/scrollbar";

$categories-width: 225px;

html {
    height: 100%;
}

body {
    font-family: $fonts;
    margin: 0;
    height: 100%;

    #overlay {
        background-color: rgba(0, 0, 0, 0.32);
        position: fixed;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        display: none;

        &.open {
            display: block;
        }
    }

    .mobile-menu {
        display: none;
        z-index: 10;
        position: fixed;
        top: 0;
        width: 100%;
        box-sizing: border-box;
        background-color: $melon;
        padding: 10px 12px;
        justify-content: space-between;
        align-items: center;
        height: 57px;

        .search {
            margin: 0 auto 0 10px;
            transition-duration: 0.3s;
            position: relative;
            left: 300px;
            opacity: 0;
            max-width: 300px;
            width: 75%;
            display: none;

            input[type="search"] {
                padding: 7px 10px 7px 36px;
                width: 100%;
            }

            .icon-search {
                font-size: 1.5em;
                top: calc(50% + 1px);
                left: 10px;
            }
        }

        #hamburger-search {
            display: none;
        }

        #hamburger-categories,
        #hamburger-search {
            $width: 20px;
            width: $width;
            cursor: pointer;
            padding: 10px;

            &.open {

                div {
                    height: 2px;
                    background-color: $brown;
                    width: $width;

                    &:nth-child(2) {
                        margin: 4px 0;
                    }
                }
            }

            &.close {
                position: relative;

                div {
                    height: 2px;
                    background-color: $brown;
                    width: $width;
                    position: absolute;
                    top: 50%;

                    &:nth-child(1) {
                        transform: translateY(-50%) rotateZ(45deg);
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        transform: translateY(-50%) rotateZ(-45deg);
                    }
                }
            }
        }

        .icons {
            display: flex;
            align-items: center;

            i {
                margin: 0 5px;
                font-size: 1.7em;
                padding: 5px;
                cursor: pointer;
                color: $brown;

                &.fa-user {
                    font-size: 1.3em;
                }
            }
        }
    }

    #content {
        display: flex;
        height: 100%;

        #categories {
            @include scrollbar($melon, rgba(0, 0, 0, 0.4));
            background-color: $melon;
            overflow: auto;
            box-sizing: border-box;
            width: $categories-width;
            padding: 50px 25px 25px 20px;
            height: 90%;
            position: fixed;
            top: 0;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
            border-radius: 0 2px 2px 2px;

            h2 {
                color: #fff;
                font-size: 1.0em;
                font-weight: normal;
                letter-spacing: 0.5px;
            }

            .category {
                margin-top: 24px;
                padding: 5px 0;
                display: flex;
                align-items: center;
                text-decoration: none;

                .icon-burn {
                    font-size: 1.4em;
                    color: #9A5242;
                }

                .category-name {
                    letter-spacing: 0.5px;
                    font-size: 0.9em;
                    margin-left: 32px;
                    color: $brown;
                }
            }
        }

        .posts {
            margin-left: $categories-width;
            flex-basis: 50%;
            padding-left: 30px;
            padding-top: 20px;

            .post {
                margin-bottom: 25px;
                padding: 12px 10px 18px 15px;
                border-radius: 2px;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
                background-color: $block-bg;

                .top {
                    display: flex;
                    align-items: center;

                    .fa-user-circle {
                        font-size: 2.5em;
                        color: #cfcfcf;
                    }

                    p {
                        margin: 0 0 0 15px;

                        .author {
                            color: $brown;
                            letter-spacing: 0.2px;
                            line-height: 1.5;
                        }

                        .time {
                            font-size: 0.85em;
                            line-height: 1.43;
                            letter-spacing: 0.3px;
                            color: #DAD6D5;
                        }
                    }
                }

                h2 {
                    color: rgba(0, 0, 0, 0.87);
                    margin: 16px 0 20px 0;
                }

                .three-dots {
                    margin-left: auto;
                    cursor: pointer;

                    &:after {
                        content: '\2807';
                        font-size: 1.5em;
                        color: #9A8A8A;
                    }
                }

                .content {
                    line-height: 1.75;
                    letter-spacing: 0.5px;
                    color: $text-color;
                }

                .nb-comments {
                    margin: 13px 0 0 0;
                    letter-spacing: 0.5px;
                    color: #6F6D6D;
                    display: flex;
                    align-items: center;

                    .fa-comment {
                        font-size: 1.2em;
                    }

                    span {
                        margin-left: 11px;
                    }
                }
            }
        }
    }
}

.search {
    display: inline-block;
    position: relative;
    margin-bottom: 25px;

    input[type="search"] {
        padding: 7px 10px 7px 42px;
        border-radius: 20px;
        border: 1px solid #e0e0e0;
        background-color: $block-bg;
        box-sizing: border-box;
        width: 360px;
        outline: none;

        @include placeholder {
            color: $text-color;
        }
    }

    .icon-search {
        font-size: 1.6em;
        color: #92928f;
        position: absolute;
        left: 15px;
        top: calc(50% + 2px);
        transform: translateY(-50%);
    }
}

@media all and (max-width: 768px) {
    body {

        .mobile-menu {
            display: flex;
        }

        #content {
            display: block;

            #categories {
                @include scrollbar(#fffbfa, rgba(0, 0, 0, 0.4));
                background-color: #fffbfa;
                z-index: 9;
                width: 250px;
                height: 100%;
                padding-top: 80px;
                transform: translateX(-120%);
                transition-duration: 0.5s;

                h2 {
                    color: $melon;
                    margin-bottom: 30px;
                }

                .category {
                    margin-top: 15px;

                    .icon-burn,
                    .category-name {
                        color: #807171;
                    }
                }
            }

            .posts {
                padding: 0;
                margin: 80px 20px 0;

                .search {
                    display: none;
                }

                .post {
                    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
                    border-radius: 0;
                }
            }
        }
    }
}

@media all and (max-width: 425px) {
    body {
        #content {
            .posts {
                margin: 80px 0 0;
            }
        }
    }
}
