{% extends "template.twig" %}

{% block links %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/home.css">
{% endblock %}

{% block content %}

    <div class="search">
        <input id="research" type="search" placeholder="Rechercher...">
        <i class="fas fa-search"></i>
    </div>

    <div id="posts"></div>
{% endblock %}

{% block scripts %}
    <script src="assets/js/create.js"></script>
    <script src="assets/js/PostsManager.js"></script>
    <script src="assets/js/main.js"></script>
{% endblock %}
