{% extends "template.twig" %}

{% block links %}
    <link rel="stylesheet" href="assets/css/login-register.css">
{% endblock %}

{% block content %}
    <header>
        <a href="index.php">
            <img src="assets/images/global_icon.svg" alt="global icon">
            <h1>Groupomania</h1>
        </a>
    </header>

    <form class="sign-form" method="post">
        {% if errors %}
            <p class="error">Identifiant ou mot de passe incorrect</p>
        {% endif %}

        <div>
            <input class="full-width" id="login" type="text" name="login" value="Email ou pseudonyme" required>
        </div>
        <div class="eye-container">
            <input class="full-width" id="password" type="text" name="password" value="Mot de passe" required>
            <img class="eye" style="width: 24px;" src="assets/images/invisible_eye_icon.svg" alt="eye icon">
        </div>
        <div>
            <input class="center" type="submit" value="SE CONNECTER">
        </div>
    </form>

    <a class="create-account" href="index.php?action=users.register">CRÉER UN COMPTE</a>

    <a id="forgot-password" href="">Mot de passe oublié ?</a>
{% endblock %}

{% block scripts %}
    <script src="assets/js/toggleEye.js"></script>
    <script src="assets/js/form.js"></script>
{% endblock %}
