{% extends "template.twig" %}

{% block links %}
    <link rel="stylesheet" href="assets/css/login-register.css">
{% endblock %}

{% block content %}
    <a class="return" href="index.php">
        <img src="assets/images/arrow_right_icon.svg" alt="arrow right icon">
    </a>

    <header>
        <a href="index.php">
            <img src="assets/images/global_icon.svg" alt="global icon">
            <h1>Groupomania</h1>
        </a>
        <h2>Créer un compte</h2>
    </header>

    <form class="sign-form" method="post">
        <div class="input-pair">
            <div>
                {% if email is null %}
                    {% set email = 'Email' %}
                {% endif %}
                <input id="email" type="email" name="email" value="{{ email }}" required>
                {% if errors['email'] %}<span class="info error">Veuillez entrer un email valide</span>{% endif %}
            </div>
            <div>
                {% if pseudo is null %}
                    {% set pseudo = 'Pseudonyme' %}
                {% endif %}
                <input id="pseudo" type="text" name="pseudo" value="{{ pseudo }}">
                {% if errors['pseudo_not_available'] %}<span class="info error">Le pseudo {{ pseudo }} n'est pas disponible</span>{% endif %}
                {% if errors['pseudo'] %}<span class="info error">25 caractères maximum, chiffres, lettres, (_-.) autorisés</span>{% endif %}
            </div>
        </div>
        <div>
            <div class="eye-container">
                <input class="full-width" id="password" type="text" name="password" value="Mot de passe" required>
                <img class="eye" style="width: 24px;" src="assets/images/invisible_eye_icon.svg" alt="eye icon">
            </div>
            <span class="info {% if errors['password'] %} error {% endif %}">7 caractères minimum, 1 chiffre, 1 majuscule</span>
        </div>
        <div>
            <div class="eye-container">
                <input class="full-width" id="password_confirmation" type="text" name="password_confirmation" value="Confirmer le mot de passe" required>
                <img class="eye" style="width: 24px;" src="assets/images/invisible_eye_icon.svg" alt="eye icon">
            </div>
            {% if errors['password_confirmation'] %}<span class="info error">Attention : le mot de passe doit être identique</span>{% endif %}
        </div>
        <div>
            <input class="right" type="submit" value="Valider">
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script src="assets/js/toggleEye.js"></script>
    <script src="assets/js/form.js"></script>
{% endblock %}
